main{
  min-height: 80vh;
}

h3{
  padding: 1rem;
}

.rating span{
  margin: 0.1rem;
}

.carousel-item-nex,
.carousel-item-prev,
.carousel-item.active{
  display: flex;
}

.carousel-caption{
  position: absolute;
  top: 0
}

.carousel-caption h2{
  color: #fff
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a{
  margin: 0 auto;
}

.pdf-container{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}